@charset "UTF-8";
@font-face {
    font-family: 'KOTRAHOPE';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
body{
	font-family: 'KOTRAHOPE';
    justify-content: center;
    align-content: center;
    align-items: center;
    overflow: auto;
    overflow-x: hidden;
}

.update {
	display: flex;
}

.select {
	border-radius: 5px;
}
.selectlist {
	position: relative;
	margin-top: 25px;
	left: 5%;
}

.selectbox {
	position: relative;
    cursor: pointer;
    font-size: 13px;
    width: 170px;
    height: 30px;
    border: 5px;
    border-radius: 5px;
    background-color: #DA0037;
    color: white;
    margin-top: 20px;
}
select option {
	background: #f1f1f1;
	color: #DA0037;
}